<style>
  @font-face {
    font-family: Boohong;
    src: url('/Boohong.otf');
  }
  :root {
    --c1: #534238;
    --black: #262627;
    --white: #efefef
  }
</style>

<template>
  <div class="h-screen">
    <NuxtLayout>
      <NuxtPage />
    </NuxtLayout>
  </div>
</template>
