<style>
body {
    /*background: url('/catpattern.png');*/
    background-color: var(--black);
    margin: 0;
}

body::before,
body::after {
    content: '';
    width: 128px;
    height: 128px;
    position: fixed;
    user-select: none;
    background: url('/linethingy.png');
    pointer-events: none;
    z-index: 50;
}

body::before {
    top: 0;
    left: 0;
}

body::after {
    bottom: 0;
    right: 0;
}

.search {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 80vw;
    left: 10vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}

.search input[type="text"] {
    font-family: 'Boohong';
    color: var(--white);
    border: 5px solid var(--c1);
    border-radius: 25px;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 10%;
    outline: none;
    font-size: 5vw;
    padding-right: 2%;
    background-color: var(--black);
    background-image: url('/search_icon.svg');
    background-size: 3vw auto;
    background-repeat: no-repeat;
    background-position: 2.5vw center;
}

.search select {
    background: var(--black);
    font-family: 'Boohong';
    color: var(--white);
    border: 5px solid var(--c1);
    border-radius: 25px;
    width: 15%;
    min-height: 100%;
    box-sizing: border-box;
    outline: none;
    font-size: 1.3vw;
    text-align: center;
}

.header {
    background-image: url('/catpattern.png');
    background-repeat: repeat-x;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 4.5vw;
    color: var(--white);
    font-family: Boohong;
}

.photowrap {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, 250px);
    row-gap: 10vh;
    column-gap: 5vw;
    grid-auto-flow: dense;
    width: 100vw;
    padding: 10vh 10vw;
    box-sizing: border-box;
}

.photo {
    aspect-ratio: 14/16 !important;
    background: var(--white);
    width: 100%;
    border: var(--c1) 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 1vw;
    transition: box-shadow 0.5s, scale 0.5s;
    box-shadow: 0 0 0 transparent;
    scale: 1;
    cursor: pointer;
    max-height: 50vh;
    max-width: 50vw;
}

.photo:hover {
    scale: 1.05;
}

.photo.common:hover {
    box-shadow: 0 0 25px #419D78;
}

.photo.rare:hover {
    box-shadow: 0 0 25px #ECD444;
}

.photo.scarce:hover {
    box-shadow: 0 0 25px #7067CF;
}

.photo.unique:hover {
    box-shadow: 0 0 25px #D6FFF6;
}

.photo * {
    pointer-events: none;
}

.photo img {
    aspect-ratio: 1/1;
    background: var(--url), var(--c1);
    width: 100%;
    background-size: cover;
    background-position: center;
    outline: none;
    border: none;
    border: 5px solid var(--c1);
    box-sizing: border-box;
}


.photo figcaption {
    margin-top: 5%;
    width: 100%;
    font-family: Boohong;
    color: var(--c1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25vmax;
}
</style>

<script>
export default {
    methods: {
        handleMouseMove(e) {
            e.target.style.setProperty("transform", `skewY(${(((e.layerY / e.srcElement.getBoundingClientRect().height) * 2) - 1) * 3}deg) skewX(${(((e.layerX / e.srcElement.getBoundingClientRect().width) * 2) - 1) * 3}deg)`)
        },
        handleMouseLeave(e) {
            e.target.style.setProperty("transform", "rotateX(0deg) rotateY(0deg)")
        },
        handleSearch(e) {
            const photowrap = this.$refs['photowrap'];
            for (let i = 0; i < photowrap.children.length; i++) {
                photowrap.children[i].style.setProperty("display", "flex")
                if(e.target.value != "") {
                    let a = `${e.target.value.toLowerCase().toString().replaceAll(/\s/g,'').replaceAll('.','')}`;
                    let b = `${photowrap.children[i].children[1].innerText.toLowerCase().toString().replaceAll(/\s/g,'').replaceAll('.','')}`;
                    console.log(a)
                    console.log(b)
                    if(!a.includes(b)) {
                        photowrap.children[i].style.setProperty("display", "none")
                    }
                }
            }
        }
    },
    mounted() {
        const photowrap = this.$refs['photowrap'];
        for (let i = 0; i < photowrap.children.length; i++) {
            photowrap.children[i].onmousemove = this.handleMouseMove;
            photowrap.children[i].onmouseenter = this.handleMouseMove;
            photowrap.children[i].onmouseleave = this.handleMouseLeave;
        }
        const searchbar = this.$refs['searchbar'];
        searchbar.oninput = this.handleSearch;
    },
    beforeUnmount() {
        const photowrap = this.$refs['photowrap'];
        for (let i = 0; i < photowrap.children.length; i++) {
            photowrap.children[i].onmousemove = '';
            photowrap.children[i].onmouseenter = '';
            photowrap.children[i].onmouseleave = '';

        }
    }
}
</script>


<template>
    <div class="header" data-v-inspector="pages/index.vue:204:5">
        <h1 data-v-inspector="pages/index.vue:205:9">Street Cat-a-log</h1>
    </div>
    <div class="search" data-v-inspector="pages/index.vue:207:5">
        <input type="text" ref="searchbar" data-v-inspector="pages/index.vue:208:9">
        <select data-v-inspector="pages/index.vue:209:9">
            <option value="all" data-v-inspector="pages/index.vue:210:13">All Rarities</option>
            <option value="common" data-v-inspector="pages/index.vue:211:13">Common</option>
            <option value="rare" data-v-inspector="pages/index.vue:212:13">Rare</option>
            <option value="scarce" data-v-inspector="pages/index.vue:213:13">Scarce</option>
            <option value="unique" data-v-inspector="pages/index.vue:214:13">Unique</option>
        </select>
    </div>
    <div class="photowrap" ref="photowrap" data-v-inspector="pages/index.vue:217:5">
        <figure class="photo common" data-v-inspector="pages/index.vue:218:9">
            <img style="--url:url('meowcamera.png')" data-v-inspector="pages/index.vue:219:13">
            <figcaption data-v-inspector="pages/index.vue:220:13">Common Streetcat</figcaption>
        </figure>
        <figure class="photo rare" data-v-inspector="pages/index.vue:222:9">
            <img style="--url:url('/meowcamera.png')" data-v-inspector="pages/index.vue:223:13">
            <figcaption data-v-inspector="pages/index.vue:224:13">Rare Streetcat</figcaption>
        </figure>
        <figure class="photo scarce" data-v-inspector="pages/index.vue:226:9">
            <img style="--url:url('meowcamera.png')" data-v-inspector="pages/index.vue:227:13">
            <figcaption data-v-inspector="pages/index.vue:228:13">Scarce Streetcat</figcaption>
        </figure>
        <figure class="photo unique" data-v-inspector="pages/index.vue:230:9">
            <img style="--url:url('meowcamera.png')" data-v-inspector="pages/index.vue:231:13">
            <figcaption data-v-inspector="pages/index.vue:232:13">Unique Streetcat</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:234:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/e/e3/DrSmudge1.png/120px-DrSmudge1.png')"
                data-v-inspector="pages/index.vue:235:13">
            <figcaption data-v-inspector="pages/index.vue:236:13">Dr. Smudge</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:238:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/c/c4/Goobert_Being_Silly.jpg/120px-Goobert_Being_Silly.jpg')"
                data-v-inspector="pages/index.vue:239:13">
            <figcaption data-v-inspector="pages/index.vue:241:13">Goobert</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:243:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/6/61/Lil_Ms._Scallywag.png/120px-Lil_Ms._Scallywag.png')"
                data-v-inspector="pages/index.vue:244:13">
            <figcaption data-v-inspector="pages/index.vue:246:13">Lil Ms. Scallywag</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:248:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/c/c5/Lsg_closeup.jpg/120px-Lsg_closeup.jpg')"
                data-v-inspector="pages/index.vue:249:13">
            <figcaption data-v-inspector="pages/index.vue:250:13">Little Scraggly Guy</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:252:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/c/c7/Mr-Airplane.png/120px-Mr-Airplane.png')"
                data-v-inspector="pages/index.vue:253:13">
            <figcaption data-v-inspector="pages/index.vue:254:13">Mr. Airplane</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:256:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/5/55/Ms._Angel_pfp.jpg/120px-Ms._Angel_pfp.jpg')"
                data-v-inspector="pages/index.vue:257:13">
            <figcaption data-v-inspector="pages/index.vue:259:13">Ms. Angel</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:261:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/e/e0/MrAnxiety1-OUuyVE.png/120px-MrAnxiety1-OUuyVE.png')"
                data-v-inspector="pages/index.vue:262:13">
            <figcaption data-v-inspector="pages/index.vue:264:13">Mr. Anxiety</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:266:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/7/73/Baldy.png/120px-Baldy.png')"
                data-v-inspector="pages/index.vue:267:13">
            <figcaption data-v-inspector="pages/index.vue:268:13">Mr. Bald</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:270:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/6/6a/Beeffront.png/110px-Beeffront.png')"
                data-v-inspector="pages/index.vue:271:13">
            <figcaption data-v-inspector="pages/index.vue:272:13">Mr. Beef</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:274:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/5/5b/Mr._Beetle_face.png/118px-Mr._Beetle_face.png')"
                data-v-inspector="pages/index.vue:275:13">
            <figcaption data-v-inspector="pages/index.vue:277:13">Mr. Beetle</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:279:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/6/6a/Burnt.png/120px-Burnt.png')"
                data-v-inspector="pages/index.vue:280:13">
            <figcaption data-v-inspector="pages/index.vue:281:13">Ms. Burnt</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:283:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/e/e5/Butter-Face.png/117px-Butter-Face.png')"
                data-v-inspector="pages/index.vue:284:13">
            <figcaption data-v-inspector="pages/index.vue:285:13">Mr. Butter</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:287:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/f/fb/Camo.png/120px-Camo.png')"
                data-v-inspector="pages/index.vue:288:13">
            <figcaption data-v-inspector="pages/index.vue:289:13">Ms. Camo</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:291:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/d/df/Chessface2.png/120px-Chessface2.png')"
                data-v-inspector="pages/index.vue:292:13">
            <figcaption data-v-inspector="pages/index.vue:293:13">Ms. Chess</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:295:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/c/cd/Mr.ChickenFace1.png/120px-Mr.ChickenFace1.png')"
                data-v-inspector="pages/index.vue:296:13">
            <figcaption data-v-inspector="pages/index.vue:298:13">Mr. Chicken</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:300:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/8/83/Ms_chunky_face.png/120px-Ms_chunky_face.png')"
                data-v-inspector="pages/index.vue:301:13">
            <figcaption data-v-inspector="pages/index.vue:303:13">Ms. Chunky</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:305:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/6/69/Coolseacucumber1.png/120px-Coolseacucumber1.png')"
                data-v-inspector="pages/index.vue:306:13">
            <figcaption data-v-inspector="pages/index.vue:308:13">Mr. Cool Cucumber</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:310:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/7/78/MrCreamBack1.png/120px-MrCreamBack1.png')"
                data-v-inspector="pages/index.vue:311:13">
            <figcaption data-v-inspector="pages/index.vue:312:13">Mr. Cream</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:314:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/7/7c/Breadcroissant.png/120px-Breadcroissant.png')"
                data-v-inspector="pages/index.vue:315:13">
            <figcaption data-v-inspector="pages/index.vue:317:13">Mr. Croissant</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:319:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/d/da/Ms_crunch_facing_camera.png/120px-Ms_crunch_facing_camera.png')"
                data-v-inspector="pages/index.vue:320:13">
            <figcaption data-v-inspector="pages/index.vue:322:13">Mr. Crunch</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:324:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/8/8b/MrDoomface.png/120px-MrDoomface.png')"
                data-v-inspector="pages/index.vue:325:13">
            <figcaption data-v-inspector="pages/index.vue:326:13">Mr. Doom</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:328:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/b/b4/Image_2024-02-05_204707675_%281%29_%281%29.png/120px-Image_2024-02-05_204707675_%281%29_%281%29.png')"
                data-v-inspector="pages/index.vue:329:13">
            <figcaption data-v-inspector="pages/index.vue:331:13">Mr. Dot</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:333:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/7/75/Eggface.png/120px-Eggface.png')"
                data-v-inspector="pages/index.vue:334:13">
            <figcaption data-v-inspector="pages/index.vue:335:13">Mr. Egg</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:337:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/8/83/MrFatFace.png/120px-MrFatFace.png')"
                data-v-inspector="pages/index.vue:338:13">
            <figcaption data-v-inspector="pages/index.vue:339:13">Mr. Fat</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:341:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/1/1e/Mr_fluff.webp/120px-Mr_fluff.webp.png')"
                data-v-inspector="pages/index.vue:342:13">
            <figcaption data-v-inspector="pages/index.vue:343:13">Mr. Fluff</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:345:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/3/31/Mr_fresh.jpg/120px-Mr_fresh.jpg')"
                data-v-inspector="pages/index.vue:346:13">
            <figcaption data-v-inspector="pages/index.vue:347:13">Mr. Fresh</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:349:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/7/70/Gentleman_2.jpg/120px-Gentleman_2.jpg')"
                data-v-inspector="pages/index.vue:350:13">
            <figcaption data-v-inspector="pages/index.vue:351:13">Mr. Gentleman</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:353:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/9/94/Ms-lobotomy-face.png/120px-Ms-lobotomy-face.png')"
                data-v-inspector="pages/index.vue:354:13">
            <figcaption data-v-inspector="pages/index.vue:356:13">Ms. Halo</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:358:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/7/7b/Ms._Honk.png/120px-Ms._Honk.png')"
                data-v-inspector="pages/index.vue:359:13">
            <figcaption data-v-inspector="pages/index.vue:360:13">Ms. Honk</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:362:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/c/c8/Ms._Inception.webp/120px-Ms._Inception.webp.png')"
                data-v-inspector="pages/index.vue:363:13">
            <figcaption data-v-inspector="pages/index.vue:365:13">Ms. Inception</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:367:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/e/e6/Islandface.png/120px-Islandface.png')"
                data-v-inspector="pages/index.vue:368:13">
            <figcaption data-v-inspector="pages/index.vue:369:13">Mr. Island</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:371:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/2/27/Kibbleface.png/120px-Kibbleface.png')"
                data-v-inspector="pages/index.vue:372:13">
            <figcaption data-v-inspector="pages/index.vue:373:13">Ms. Kibble</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:375:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/9/9b/KirbySilly.png/120px-KirbySilly.png')"
                data-v-inspector="pages/index.vue:376:13">
            <figcaption data-v-inspector="pages/index.vue:377:13">Mrs. Kirby</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:379:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/8/8d/Ms_Lag_temporary_pfp.jpg/120px-Ms_Lag_temporary_pfp.jpg')"
                data-v-inspector="pages/index.vue:380:13">
            <figcaption data-v-inspector="pages/index.vue:382:13">Ms. Lag</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:384:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/9/94/Loopface.png/120px-Loopface.png')"
                data-v-inspector="pages/index.vue:385:13">
            <figcaption data-v-inspector="pages/index.vue:386:13">Ms. Loop</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:388:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/0/0c/Mr._Lung_Face.png/120px-Mr._Lung_Face.png')"
                data-v-inspector="pages/index.vue:389:13">
            <figcaption data-v-inspector="pages/index.vue:391:13">Mr. Lung</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:393:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/7/74/Mr._Miner_eating.png/120px-Mr._Miner_eating.png')"
                data-v-inspector="pages/index.vue:394:13">
            <figcaption data-v-inspector="pages/index.vue:396:13">Mr. Miner</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:398:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/1/1e/Mr-monochrome-face.png/120px-Mr-monochrome-face.png')"
                data-v-inspector="pages/index.vue:399:13">
            <figcaption data-v-inspector="pages/index.vue:401:13">Mr. Monochrome</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:403:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/d/db/MN3.png/109px-MN3.png')"
                data-v-inspector="pages/index.vue:404:13">
            <figcaption data-v-inspector="pages/index.vue:405:13">Mr. Normal</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:407:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/c/c5/Mr-one-face.png/120px-Mr-one-face.png')"
                data-v-inspector="pages/index.vue:408:13">
            <figcaption data-v-inspector="pages/index.vue:409:13">Mr. One</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:411:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/5/58/FacepictureofMSPAINT.png/120px-FacepictureofMSPAINT.png')"
                data-v-inspector="pages/index.vue:412:13">
            <figcaption data-v-inspector="pages/index.vue:414:13">Ms. Paint</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:416:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/2/20/Mr_piss_pfp.jpg/120px-Mr_piss_pfp.jpg')"
                data-v-inspector="pages/index.vue:417:13">
            <figcaption data-v-inspector="pages/index.vue:418:13">Mr. Piss</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:420:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/4/44/Mr._Plump_Face_2.png/120px-Mr._Plump_Face_2.png')"
                data-v-inspector="pages/index.vue:421:13">
            <figcaption data-v-inspector="pages/index.vue:423:13">Mr. Plump</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:425:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/3/32/Ms.pretty_face.png/120px-Ms.pretty_face.png')"
                data-v-inspector="pages/index.vue:426:13">
            <figcaption data-v-inspector="pages/index.vue:428:13">Ms. Pretty</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:430:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/f/f2/Princess.png/120px-Princess.png')"
                data-v-inspector="pages/index.vue:431:13">
            <figcaption data-v-inspector="pages/index.vue:432:13">Ms. Princess</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:434:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/a/ae/Mr.Puke_and_Mr.Sleepy_eating_togheter.png/120px-Mr.Puke_and_Mr.Sleepy_eating_togheter.png')"
                data-v-inspector="pages/index.vue:435:13">
            <figcaption data-v-inspector="pages/index.vue:437:13">Mr. Puke</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:439:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/e/ee/Mr._Rev.png/120px-Mr._Rev.png')"
                data-v-inspector="pages/index.vue:440:13">
            <figcaption data-v-inspector="pages/index.vue:441:13">Mr. Rev</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:443:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/c/c4/Mr._Ribbon.png/120px-Mr._Ribbon.png')"
                data-v-inspector="pages/index.vue:444:13">
            <figcaption data-v-inspector="pages/index.vue:445:13">Mr. Ribbon</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:447:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/1/12/Ms-Rust-Face.png/120px-Ms-Rust-Face.png')"
                data-v-inspector="pages/index.vue:448:13">
            <figcaption data-v-inspector="pages/index.vue:449:13">Ms. Rust</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:451:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/f/fe/Mrsad2.png/120px-Mrsad2.png')"
                data-v-inspector="pages/index.vue:452:13">
            <figcaption data-v-inspector="pages/index.vue:453:13">Ms. Sad</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:455:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/c/ce/Mrsleepy.png/120px-Mrsleepy.png')"
                data-v-inspector="pages/index.vue:456:13">
            <figcaption data-v-inspector="pages/index.vue:457:13">Mr. Sleepy</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:459:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/4/44/Ms_Itchy.png/120px-Ms_Itchy.png')"
                data-v-inspector="pages/index.vue:460:13">
            <figcaption data-v-inspector="pages/index.vue:461:13">Mr. Sniffles</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:463:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/4/47/Mr_snoob_pfp.jpg/120px-Mr_snoob_pfp.jpg')"
                data-v-inspector="pages/index.vue:464:13">
            <figcaption data-v-inspector="pages/index.vue:465:13">Mr. Snoob</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:467:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/c/cd/Mr_Soggy.png/120px-Mr_Soggy.png')"
                data-v-inspector="pages/index.vue:468:13">
            <figcaption data-v-inspector="pages/index.vue:469:13">Mr. Soggy</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:471:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/3/3d/MrSusSideEyeZoom.png/120px-MrSusSideEyeZoom.png')"
                data-v-inspector="pages/index.vue:472:13">
            <figcaption data-v-inspector="pages/index.vue:474:13">Mr. Sus</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:476:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/f/fb/Ms_Takeout_Head.jpg/120px-Ms_Takeout_Head.jpg')"
                data-v-inspector="pages/index.vue:477:13">
            <figcaption data-v-inspector="pages/index.vue:479:13">Ms. Takeout</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:481:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/f/f1/Mr.Texas_feasting_on_snacks.png/120px-Mr.Texas_feasting_on_snacks.png')"
                data-v-inspector="pages/index.vue:482:13">
            <figcaption data-v-inspector="pages/index.vue:484:13">Ms. Texas</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:486:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/9/91/Mr._Turkey_2.webp/120px-Mr._Turkey_2.webp.png')"
                data-v-inspector="pages/index.vue:487:13">
            <figcaption data-v-inspector="pages/index.vue:489:13">Mr. Turkey</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:491:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/e/eb/Mr._Void_gaining_consciousness_.png/120px-Mr._Void_gaining_consciousness_.png')"
                data-v-inspector="pages/index.vue:492:13">
            <figcaption data-v-inspector="pages/index.vue:494:13">Mr. Void</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:496:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/b/ba/Ms._Warn_1.jpg/120px-Ms._Warn_1.jpg')"
                data-v-inspector="pages/index.vue:497:13">
            <figcaption data-v-inspector="pages/index.vue:498:13">Ms. Warn</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:500:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/6/62/Mr_wishbone.png/120px-Mr_wishbone.png')"
                data-v-inspector="pages/index.vue:501:13">
            <figcaption data-v-inspector="pages/index.vue:502:13">Mr. Wishbone</figcaption>
        </figure>
        <figure class="photo" data-v-inspector="pages/index.vue:504:9">
            <img style="--url:url('https://streetcat.wiki/images/thumb/1/10/TGBicon.png/116px-TGBicon.png')"
                data-v-inspector="pages/index.vue:505:13">
            <figcaption data-v-inspector="pages/index.vue:506:13">The Gluttonous Beast</figcaption>
        </figure>
    </div>
</template>